# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
package-lock.json

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
userdata/
*.xccheckout
*.xcworkspace
!default.xcworkspace
*.xcuserstate
*.xcappdata
*.ipa
*.sublime-project
*.sublime-workspace
*.mime

# Android
.gradle/
local.properties
*.apk
*.aar
*.ap_
*.der
*.crash
*.dump
*.jack
*.m
*.native
*.res
*.so
*.xml
captures/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

app-example
